{
  "arrowParens": "always",
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrder": ["^pages/", "^features/", "^entities/", "^shared/", "^[./]"],
  "importOrderSeparation": true
}
