{
  "env": {
    "development": {
      "plugins": [
        ["effector/babel-plugin", { "addLoc": true }],
        ["styled-components", { "displayName": true, "ssr": true }]
      ]
    },
    "production": {
      "plugins": [["styled-components", { "ssr": true }]]
    }
  }
}
